<div>
  <h2>模版语法学习</h2>
  <p>script标签被禁用，防止脚本注入攻击的风险</p>
  <p>插值表达式: 
    <span>{{title}}</span>
    <img :src="{{url}}" alt="">
  </p>
  <p>模板表达式:
    要尽量避免引发副作用的表达式，比如= +=, -=或者自增自减
  </p>

  <p>
    表达式上下文：
    <p>表达式的上下文可以包括组件之外的对象</p>
    <p>模板表达式不能引用全局命名空间的任何东西，比如window、document等</p>
    <p>表达式应该是：没有可见的副作用、执行迅速、非常简单</p>
    <p>执行迅速：变更检测周期后执行模板表达式，变更检测周期会被多种异步活动触发，比如promise解析、http结果、定时器事件、按键、鼠标移动</p>
    <p>尽量把应用程序和业务逻辑限制在组件中</p>
  </p>

  <div>
    模板语法
    <p>模板语法用来响应绑定目标触发的事件，出现在等号右边的引号</p>
    <a href="javascript:void(0)" (click)="deleteHero()">测试</a>
    <button (click)="deleteHero()"></button>
    <button (click)="onSave($event)">Save</button>
    <button *ngFor="let hero of heroes" (click)="deleteHero(hero)">{{hero.name}}</button>
    <form #heroForm action="" (ngSubmit)="onSubmit(heroForm)"></form>
  </div>

  <div>
    数据绑定
    <p [target]="xx" bind-target="xx">从数据源到视图{{expression}}</p>
    <p (target)="statement" on-target="targetment">从视图到数据源的单向绑定</p>
    <p [(target)]="expression" bindon-target="expression">双向绑定</p>
  </div>

  <div>
    新的思维模型
    <div class="">special</div>
    <img src="assets/x/xx.png" alt="">
    <p>模板绑定是通过property和事件来工作的，而不是attribute</p>
  </div>

  <div>
    绑定目标
    数据绑定的目标是DOM中的某些东西。这个目标可能是(元素|组件|指令)property、事件、极少数的attribute
    
    1、属性：
      <img [src]="url" alt="">
      <app-gero-detail [hero]="currentHero"></app-gero-detail>
      <div [class]="{'A': isA}"></div>
    2、事件
      <button (click)="onSave()"></button>
      <app-hero-detail (deleteRequest)="deleteHero()"></app-hero-detail>
      <div (myClick)="clicked = $event" clickable></div>
    3、双向
      <input type="text" [(ngModel)]="name">
    4、attribute个别情况
      <div [attr.aria-label]="help"></div>
    5、CSS
      <div [class.special]="isSpecial"></div>
    6、style
      <div [style.color]="isSpecial ? 'res' : 'green'"></div>
  </div>

  <div>
    属性绑定
    <button [disabled="isUnchanged"]></button>
    <div [ngClass]="classes"></div>
    <p>单向输入</p>
    不能使用属性绑定来从目标元素拉取值，也不能绑定到目标元素的属性来读取，只能设置
    1、不能用属性绑定来调用目标元素的方法
    2、元素触发事件，可以通过事件绑定来监听
    <p>绑定目标</p>
    <img [src]="heroImageUrl" alt="">
    <img bind-src="url" alt="">
    3、消除副作用
    模板表达式的计算不能有可见的副作用
    <p>表达式可能会调用具有副作用的属性或者方法，但是angular没法知道这一点也没办法阻止</p>
    <p>模板表达式应该返回目标属性所需的类型值，如果目标属性想要字符串，就返回字符串</p>
    <app-hero-detail prefix="string" [hero]="currentHero"></app-hero-detail>
    <p>
      <img src="{{url}}" alt="">
      <img [src]="url" alt="">

      <span>{{title}}</span>
      <span [innerHTML]="title"></span>
      <p>如果是字符串，建议插值，如果不是纯字符串，那就用属性绑定</p>
    </p>
  </div>

  <div>
    <h3>attribute\class\style绑定</h3>
    attribute绑定来直接设置attribute值
    <p>当元素没有属性可绑的时候，就必须使用attribute绑定</p>
    <tr><td [attr.colspan="1 + 1"]></td></tr>
    <button [attr.aria-label]="actionName"></button>

    CSS类绑定
    <p>可以从元素的class attribute上添加和移除CSS类型</p>
    css类绑定语法与属性绑定类似，但是方括号中的部分不是元素的属性名，而是由class前缀【class.class-name】
    <div class="bad curly special" [class]="badCurly"></div>
    <div [class.special]="isSpecial"></div>
    当然，我们更多的还是用ngClass来管理多个类名，单个类名的时候就用类绑定
    <div [ngClass]="currentClasses">设置多个类名的时候</div>
  </div>


  <div>
    样式绑定[单一样式的时候可以用样式绑定]
    样式绑定的语法和属性绑定类似，但是方括号中的部分不是元素的属性名
    <button [style.color]="isSpecial ? 'res' : 'green'"></button>
    <button [style.background-color]="cansave ? 'A' : 'B'"></button>
    如果是需要带单位的属性
    <button [style.font-size.em]="isSpecial ? 3 : 1"></button>
    <button [style.font-size.%]="!isSpecial ? 150 : 50"></button>

    多个样式的时候，建议NgStyle
    <div [ngStyle]="currentStyles"></div>
  </div>

  <div>
    事件绑定
    事件绑定允许监听事件，比如按键、鼠标移动、点击触屏
    <button (click)="onSave($event)"></button>
    <button on-click="onSave($event)"></button>
    <button (myClick)="clickMessage = $event" clickable></button>

    <input type="text" [value]="currentItem.name" (input)="currentItem.name = $event.target.value">
  </div>

  <div class="app-delete">
    <h3>EventEmitter实现自定义事件</h3>
    <img src="{{url}}" alt="" [style.display]="displayNone">
    <span [style.text-decoration]="lineThrough">{{item.name}}</span>
    <button (click)="delete()">Delete</button>
  </div>
  <app-delete (deleteRequest)="deleteItem($event)" [item]="currentItem"></app-delete>

  <div class="app-resize">
    <h2>双向数据绑定</h2>
    <button (click)="dec()">-</button>
    <button (click)="inc()"></button>
  </div>
  <spp-sizer [size]="fontSizePx" (sizeChange)="fontSizePx=$event"></spp-sizer>
</div>
